.input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  background: #EFF1F5;
  font-size: 16px;
  box-sizing: border-box;
}
.input::placeholder {
  color: #707070;
  font-size: 14px;
}

@media only screen and (max-width: 1080px) {
  
}

@media only screen and (max-width: 767px) {
  .input {
    font-size: 14px;
    padding: 12px 14px;
  }
  .input::placeholder {
    font-size: 12px;
  }
}