.contentFlex {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
/* ボタン上部 */
.linkButtonA {
  display: inline-block;
  padding: 40px 20px 25px;
  width: 220px;
  text-decoration: none;
  border-radius: 15px;
}
.linkButtonA p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}
.linkButtonA span {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  display: block;
  margin-top: 20px;
}
.colorA {
  background-color: #4FC0C2;
  color: #fff;
}
.colorB {
  background-color: #7AC5D8;
  color: #fff;
}
.colorC {
  background-color: #FAFAFA;
  color: #333333;
}
.hr {
  border-top: 1px solid #ddd;
  margin: 50px 0;
}
/* ボタン下部 */
.linkButtonB {
  display: inline-block;
  padding: 45px 20px 45px;
  width: 220px;
  text-decoration: none;
  border-radius: 15px;
}
.linkButtonB .buttonText {
  display: flex;
  gap: 10px;
}
.linkButtonB .buttonText p {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  line-height: 1;
}
.linkButtonB .buttonText p span {
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
}